{% extends 'base.html.twig' %}

{% block title %}Liste Des Formations{% endblock %}

{% block body %}

<h1>Liste Des Formations</h1>

<div class=containerFormation>



    {% for formation in formations %}

    <div onclick="document.location='{{ path('detail_formation', {'id': formation.id}) }}'"  class=formation>
        <p >{{ formation.nomFormation }} </p>
    </div>

    {% endfor %}

</div>

{% endblock %}
