{% extends 'base.html.twig' %}

{% block title %}Toute Les Formations{% endblock %}

{% block body %}

<div class=containerFormation>

    {% for formation in formations %}

    <div onclick="document.location='{{ path('detail_formation', {'id': formation.id}) }}'"  class=formation>
        <p >{{ formation.nomFormation }} </p>
    </div>

    {% endfor %}

</div>

{% endblock %}
