{% extends 'base.html.twig' %}

{% block title %}Contenu De La Catégorie{% endblock %}

{% block body %}

    <h1>{{ nomCategorie }}</h1>

<div class=containerFormation>

    {% for module in modules %}

    <div class=formation>

        {{module}}

    </div> 

    {% endfor %}

</div>

{% endblock %}