{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

<h1>Liste Des Catégories</h1>

<div class=containerFormation>

    {% for categorie in categories %}

    <div onclick="document.location='{{ path('detail_categorie', {'id': categorie.id}) }}'"  class=formation>
        <p>{{ categorie.nomCategorie }} </p>
    </div>

    {% endfor %}

</div>

{% endblock %}
