{% extends 'base.html.twig' %}

{% block title %}Liste Des Formateurs{% endblock %}

{% block body %}

<h1>Liste Des Formateurs</h1>

<div class=containerFormation>

    {% for formateur in formateurs %}

    <div onclick="document.location='{{ path('detail_formateur', {'id': formateur.id}) }}'"  class=cardStudent>
        <p class=student>{{ formateur.nomFormateur ~ ' ' ~ formateur.prenomFormateur }} </p>
    </div>

    {% endfor %}

</div>

{% endblock %}
